{% extends 'base.html' %} {% load static %} {% block content %}

<header>{% include 'partials/menu.html' %}</header>

<main>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div class="tela-cadastro" id="Primeiro">
        <div class="subtitulo">
          <h3>{{ jornalista.nome_de_guerra }}</h3>
        </div>
        
        <div class="foto-perfil">
          <img
            src="{% static 'img/perfil.png' %}"
            width="128"
            height="130"
            alt=""
            style="margin-left: 2.5vh;"
          />
          <img
            src="{% static 'img/upload.png' %}"
            width="140"
            height="39"
            alt=""
            style="margin-top: -4vh;"
          />
        </div>


        <div class="box">
          <div class="titulo">
            <div class="circ-l"> </div>   
            Dados Pessoais
          </div>
          <div class="dadoscoluna">

            {{ jornalista.user.get_full_name }}
            {{ jornalista.data_de_nascimento }}
            {{ jornalista.cpf }}
            {{ jornalista.telefone }}
            {{ jornalista.estado }}
            {{ jornalista.cidade }} 
            {{ jornalista.genero }} 
            {{ jornalista.estado_civil }} 
            {{ jornalista.registro }} 

          </div> 

          <div class="separador"> </div> 

          <div class="titulo">
            <div class="circ-l"> </div>   
            Formação
          </div>
          <div class="dadoscoluna">
            {{ form.registro }}
            {{ form.dataFormacao }}
            {{ form.area }}
            <label for="id_diploma" class="input-type">Enviar Diploma</label>
            <input type="file" class="form-control2" name="diploma" placeholder="Diploma" id="id_diploma">

          </div>
          
          <div class="separador"> </div>   

          <div class="titulo">
            <div class="circ-l"> </div>   
            Dados Profissionais
          </div>
          <h2 class="subtitulo">Redes Sociais</h2>
          <div class="dadoscoluna">
            {{ redes.telegram }}
            {{ redes.facebook }}
            {{ redes.podcast}}

            {{ redes.linkedin }}
            {{ redes.twitter }}
            {{ redes.site }}
          </div>

          <h2 class="subtitulo">Histórico Profissional</h2>

          <div class="butaoadd">
            <div class="incluir">
              <a class="incluir" href="{% url 'cadastro_historico' %}" target="_blank"> Incluir Experiência </a>
            </div>
          </div>
          
          <div class="separador"> </div> 

          <div class="titulo">
            <div class="circ-l"> </div>   
            Obras
          </div>
          
          <div class="butoes" style="padding-top: 2vh;">
            <div class="butaoadd">
              <div class="incluir">
                Incluir Livro
              </div>
            </div>

            <div class="butaoadd">
              <div class="incluir">
                Incluir Publicação
              </div>
            </div>
          </div> 
          
          <div class="butoes">
            <button class="cancel">Cancelar</button>
  
            <button class="prox" type="submit">
              Salvar
            </button>

        </div>

        </div>
      </div>
    </form>
  </body>
</main>

<footer>
  {% include 'partials/footer.html' %}
</footer>

{% endblock content %}
