<html>
<meta charset="UTF-8">   
<head>
    <link rel="stylesheet" href="./css/main.css"> 
    <title> Apjor Jornalistas</title>
</head>
<body>
    <style>
        body{
            background-color: #E5E5E5;
        }
    </style>
      
    <header class = "menu-principal">
        <main>
            <div class = "parte_decima">
                <div class = "logo"> <!-- Container genérico-->
                   <img src="./img/Ellipse 76.png" alt="">
                </div>
                <div class = "Menu-de-cima">
                    <ul>
            
                      <li>
                        <a href="file:///D:/diretorio_jornalista/Front/tela_cadastro.html">Cadastro</a>
                      </li>
                      <li>
                       <a href="file:///D:/diretorio_jornalista/Front/tela_login.html">Login</a>
                      </li>
                      <li>
                         <a href="">Sobre</a>
                      </li>
                      <li>
                         <a href="">Contato</a>
                      </li>
                    </ul>
                </div>
            </div>
        </main>    
    </header>
    <main>
        <input type="text">
        <div class ="texto-apjor"></div>
        <h1>Diretório Piloto de Jornalistas no Brasil</h1>
        <h2>Busque o jornalista por nome ou localidade</h2>
        
        
        <div class="botao">
          <a href = "/img/retangulo1.png" class = "btn btn-success" alt="Botao buscar" id ="imgbusca"></a>
          <a href = "/img/Rectangle 913.2png" class = "btn btn-success" alt="Botao limpar" id ="imglimpa"></a>
        </div>
       
        <div class ="texto-imag-bus">
           Buscar
        </div>
        <div class ="texto-imag-limpar">
            Limpar
         </div>
    
    </main> 
</body>
